.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.toss-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.toss-btn{
  background-color: greenyellow;
  padding: 20px 10px 20px 10px;
  border-radius: 10px;
  font-family: 'Indie Flower', cursive;;
  font: bolder;
  font-weight: 500px;
  font-size: 2rem;
}

.toss-btn:hover{
  background-color: green;
}